//main: main.scss
$primary_color:#f3f5f7;
$secondary_color:#ffffff;
$third_color: #4546a3;
$text_primary_color: #454555;
$font:Verdana,sans-serif;
$functions: #3a98f5;
$primary_button_color: #ff7f56;
$secondary_button_color: #4546a3;
